<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.companyname.u23_calculator_app">

	<application android:allowBackup="true"
                 android:label="Calculator"
                 android:supportsRtl="true"
                 android:icon="@drawable/calculator_app_icon">
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
	<uses-sdk />

</manifest>